@mixin header__button
  padding-top: 20px

@mixin header__button-base
  padding-left: 10px
  padding-right:10px
  background: transparent
  border-radius: 5px
  cursor: pointer

@mixin header__button-text
  color: $light-grey
  text-transform: capitalize

@mixin header__button-icon
  max-width: 35px
  max-height: 35px
  padding-left: 5px
  padding-right: 5px

.header__button-logout
  @include header__button
  display: flex
  justify-content: flex-end

  button
    @include header__button-base
    color: $light-blue-color
    border: 1px solid $light-blue-color
    min-width: 70px
    min-height: 30px
    text-transform: uppercase
    font-size: 0.75em

.header__button-upload
  @include header__button
  display: flex
  justify-content: center

  button
    @include header__button-base
    border: 1px solid $icon-grey
    display: flex
    align-items: center

  svg
    @include header__button-icon

    path, circle
      fill: $icon-grey

  p
   @include header__button-text 

.header__button-followers
  @include header__button
  padding-top: 0px

  button
    @include header__button-base
    display: flex
    align-items: center
    border: none

  svg
    @include header__button-icon

    path
      fill: $icon-grey

  p
    @include header__button-text