
.header 
  margin: 20px
  background-color: $container-color

.header__navbar
  padding-left: 20%
  display: flex
  justify-content: space-between
  padding-top: 10px
  padding-bottom: 10px
  box-shadow: 3px 3px 5px $shadow-color, -3px -3px 5px $shadow-color

  .header__navbar-menu
    display: flex
    justify-content: space-between
    align-items: center
    text-transform: uppercase
    font-size: 0.75em
    width: 60%

    div
      cursor: pointer