$main-background-color: #F5F8F9
$shadow-color: #E6EAEC
$light-blue-color: #007EE5
$container-color: #FFF
$icon-grey: #D0DCE7
$light-grey: #858F98

*
  padding: 0
  margin: 0
  box-sizing: border-box
  outline: none
  font-family: arial

body
  background-color: $main-background-color 
  
@import './header.sass'
@import './profile_pic.sass'
@import './button.sass'
@import './inputs_container.sass'
@import './text_box_container.sass'
@import './text_box.sass'
@import './star_icon_text.sass'