@mixin star-dimensions
  max-width: 30px
  max-height: 30px 
  padding-left: 5px
  padding-right: 5px

.header__star-icon-container
  display: flex
  align-items: center
  justify-content: flex-end
  width: 50%

  p
    padding-left: 20px
    font-size: 0.85em

.full-star-icon
  @include star-dimensions

.empty-star-icon
  @include star-dimensions
  