.text-box
  display: flex
  align-items: center
  font-size: 0.7em
  padding-top: 3px
  padding-bottom: 3px
  
  svg
    max-width: 30px
    max-height: 30px
    padding-right: 5px

    path, circle
      stroke: $icon-grey

.text-box--title
  font-size: 0.85em
  font-weight: bold
  text-transform: capitalize